{% extends 'base.html' %}
{% load static i18n %}
{% block title %} {% trans 'Change Password' %} {% endblock %}

{% block css %}
     <link rel="stylesheet" href="http:////netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
{% endblock %}

{% block content %}
<section class="ftco-section contact-section register">
        <div class="container">
            <div class="row block-9 justify-content-center">
                <div class="col-md-6 order-md-last d-flex">
                    <form action="" method="POST" class="bg-light p-5 contact-form">
                        <div class="form-group">
                            <h4 class="reset center">{% trans "Change your password" %}</h4>
                            <h6 class="center">{% trans "Please choose a new password to finish signing in." %}</h6>
                        </div>
                        {{ form.non_field_errors }}
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                {{ field }}
                                {{ field.help_texts }}
                                {% for error in field.errors %}
                                    <li class="alert-danger alert">{{ error }}</li>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <div class="form-group center">
                            <input type="submit" value="Change password" class="btn btn-primary py-3 px-5">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
{% endblock %} 